<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amogos</title>
    <link rel="icon" type="image/x-icon" href="amogos.png">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
          <div class = box>
            <h1 id="text1">Welcome to Amogos</h1>
            <img src="image.jpg" alt="Some pic" id="stongGuy">
          </div>
            <hr><br>
            <%- body %>
    </body>
</html>