<link rel="stylesheet" type="text/css" href="/styles/playerList.css">

<div id="taskCounter" class="invisible"> 
    
</div>
<div id="emergencyButton" class="invisible">
    <img src="\pictures\emergencyButton.png" alt="">
</div>

<div class = "container box" style="margin-top: 6vh;">
  <div class="text playerIconDiv"> Player count:</div>
  <div class="text playerIconDiv" id="playerCount">
      0
  </div>
  <div class="playerTextDiv">
      Players:
  </div>
</div>

<br>
<div class="container" id="playerContainer">

</div>

<button class="button text1" id="startGameBtn">
Start Game!
</button>

<script type="module" src="/script/hostWebSocket.js"></script>