<div class="button">
    <h2 id = text1>
        Print QR-code
    </h2>
</div>

<button class="button">
    <h2 id = text1>
        Settings
    </h2>
</button>


<div id = backButton>
    <span id="backButtonEmbeded" class="button" >
        <a href="/">
                    <h3 id = text1>
                        go back!
                    </h3>
        </a>
    </span>
</div>
