<div>
    <div class="button">
        <h3 class = text1>
            QR-code
        </h3>
    </div>
    
    <button class="button">
        <h3 class = text1>
            Settings
        </h3>
    </button>
    
    <a href="/">
        <span id="backButton" class="button" >
                    <h3 class="text1" id="backButtonText">
                        Back
                    </h3>
                </span>
    </a>

    <button class="button">
        <h3 class = text1>
            Start!
        </h3>
    </button>

    

</div>
