<link rel="stylesheet" type="text/css" href="/styles/ListThing.css">

<div class = box>
    <h1>Host Game</h1>
</div>

<div class="buttonContainer">
    <button class="button" id="qrBtn" onclick="createAndDownloadPDF()">
        <h3 class = text1>
            QR-code
        </h3>
    </button>
    
    <button class="button" id = "settingsBtn" onclick="requestOptions()">
        <h3 class = text1>
            Settings
        </h3>
        
    </button>
    
    <div class="settingsMenue" id="settingsMenue">
        <ul id="settingslist">
            <li>
                <div class="settingsOption" id="short">
                    <img src="pictures/arrow.svg" alt="icon of a arrow" class="arrowIcon mirrored">
                    <img src="pictures/arrow.svg" alt="icon of a arrow" class="arrowIcon">
                </div>
            </li>
            <li>
                <div class="settingsOption" id="normal">
                    <img src="pictures/arrow.svg" alt="icon of a arrow" class="arrowIcon mirrored">

                    <img src="pictures/arrow.svg" alt="icon of a arrow" class="arrowIcon">
                </div>
            </li>
            <li>
                <div class="settingsOption" id="long">
                    <img src="pictures/arrow.svg" alt="icon of a arrow" class="arrowIcon mirrored">

                    <img src="pictures/arrow.svg" alt="icon of a arrow" class="arrowIcon">
                </div>
            </li>
            <br>
        </ul>
    </div>

    <button class="button" id="startBtn">
        <h3 class = text1>
            Start!
        </h3>
    </button>

    <a href="/">
        <span id="backButton" class="button" >
                    <h3 class="text1" id="backButtonText">
                        Back
                    </h3>
        </span>
    </a>


</div>

<script src="script/getOptions.js"> </script>
