<div class="button">
    <h1 id = text1>
        Print QR-code
    </h1>
</div>

<div class="button">
    <h1 id = text1>
        Settings
    </h1>
</div>


<a href="/">
    <div class="button" id = backButton>
        <h3 id = text1>
            go back!
        </h3>
    </div>
</a>