<div class = "button">
    <form action="something.js" method="get">
        <label for="input">
            <h3 id="text1">
                Username:
            </h3>
        </label>
        <input type="text" id="input" required minlength="3" maxlength="15" placeholder="Name">
    </form>
        <br>
</div>

<div class = "button">
    <h3 id="text1">
        Join
    </h3>
</div>
<a href="/host">
    <div class = "button">
        <h3 id="text1">
            Host
        </h3>
    </div>
</a>
