
    <form action="" method="get">
        <input type="text" class="button" id="nameInput" required minlength="3" maxlength="15" placeholder="Username">
    </form>
<div class = "button">
    <h3 id="text1">
        Join
    </h3>
</div>
<a href="/host">
    <div class = "button">
        <h3 id="text1">
            Host
        </h3>
    </div>
</a>
