
<div class = box>
    <h1>Amogos</h1>
</div>

<div class= buttonContainer>
    <form  method="get" id = usernameForm>
        <input type="text" class="button" id="nameInput" required minlength="3" maxlength="15" placeholder="Username">
    </form>
    
    <button class = "button" id="joinBtn" onclick="Load()">
    <h3 class="text1">
        Join
    </h3>
    </button>
    
    <a href="/host">
        <div class = "button">
            <h3 class="text1">
                host
            </h3>
        </div>
    </a>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const usernameInput = document.getElementById("usernameForm")

        if (localStorage.getItem("username")) usernameInput.childNodes[1].value = localStorage.getItem("username");

        usernameInput.addEventListener("submit", function (event) {
            event.preventDefault()
            Load()
        })
    
            const usernameField = document.getElementById("nameInput")
            usernameField.addEventListener("focus", () => {
            usernameField.style.borderColor = "#ffffff"
        })
            usernameField.addEventListener("blur", () => {
                const usernameValue = usernameField.value
                checkUsername(usernameValue, (username) => {
                usernameField.style.borderColor = "#ffffff"
                }) 
            })
    })
    function checkUsername(username, cb) {
        if ( !(username && username.length > 2)) {
            const usernameField = document.getElementById("nameInput")
            usernameField.style.borderColor = "#b53933"
            return
        }
        cb(username)
    }
    function Load() {
        var usernameInput = document.getElementById("nameInput").value
        checkUsername(usernameInput, (username) => {
            console.log(username.toUpperCase())
            const processedUsername = username.toLowerCase().trim()
            fetch("/play/checkGame", {
                method: "POST",
                headers:{
                    "Content-Type":"application/json"
                },
                body: JSON.stringify({"username":processedUsername})
            }).then((response) =>{
                if (!response.ok) {
                    throw new Error("Issues checking gamestate")
                    window.alert("Issue with checking state of game")
                }
                return response.json()
            }).then(data => {
                if (!(data.allowed)) {
                    window.alert(data.message)
                    console.log("Data sent". data)
                } else{
                    localStorage.setItem("username", processedUsername)
                    console.log(localStorage.getItem("username"))
                    window.location = "/play/"
                }
            })
        })
    }
    </script>