<div class = box>
    <h1>GAyming time</h1>
</div>
<div class="box">
    <h2>
        See your name on the host screen?
    </h2>
</div>
<br>
<br>
<div class="button">
    <h2" id="myUsername" class="text1">

    </h2>
</div>

<script src="/script/playerSideGame.js"> </script>