<link rel="stylesheet" href="/styles/playGameStyles.css">

<div id="taskDiv" class="invisible">
    <div class="text1 box2">Tasks:</div>
</div>

<div id="startScreen">
    <div class = box>
        <h1>GAyming time</h1>
    </div>
    
    <div class="box">
        <h2>
            See your name on the host screen?
        </h2>
    </div>
    
    <div class="button">
        <h2" id="myUsername" class="text1">
    
        </h2>
    </div>
</div>


<script src="/script/playerSideGame.js"> </script>