

.settingsMenue{
    display: none;
    width: 100%;
    overflow-y: auto;
    max-height: 45vh;
    max-width: 90vw;
    border: 5px solid rgb(46, 38, 38);
    border-radius: 15px;
    background-color: rgba(34, 24, 24, 0.834);
}
.settingsMenue ul {
    list-style-type: none;
}
.settingsOption{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80vw;
    height: 8vh;
    padding: 10px;
    background-color: rgb(21, 20, 20);
    border-radius: 12px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: 3px solid rgb(51, 38, 38);
}
.settingsOption input[type = "number"]{
    height: 8vh;
    width: 5vw;
    border:5px solid rgba(72, 75, 86, 0.81);
    background-color: rgba(75, 73, 73, 0.332);
    color: rgb(235, 223, 223);
    font-family: AmogosFont;
    font-size: 7vh;
    text-align: center;
    border-radius: 8px;
    margin: 0 15px;
}
.enableOption{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80vw;
    height: 3vh;
    padding: 10px;
    background-color: rgba(35, 29, 29, 0.599);
    border-radius: 8px;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    border: 3px solid rgb(51, 38, 38);
}

.enableOption h3 {
    font-size: 5vh;
    letter-spacing: 4px;
    margin-right: 10px;
    border-color: black;
    border-radius: 15px;
}

.enableOption input[type = "checkbox"]{
    appearance: none;
    width: 4.2vh;
    height: 4.2vh;
    margin: 0;
    background-color: rgba(94, 55, 97, 0.249);
    border: 3px solid rgb(153, 153, 153);
    border-radius: 7px;
    cursor: pointer;
    color: black;
    display: grid;
    place-content: center;
}

.enableOption input[type="checkbox"]::before {
    content: "";
    width: 2.6vh;
    height: 2.6vh;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 5vh 5vh rgb(22, 10, 29);
    border-radius: 4px;
    border-color: rgb(0, 0, 0);
  }

.enableOption input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
.hide {
    display:none
}
.settingsMenue.show {
    display: block;
}

#backButton{
    display: inline-block;
    position: fixed;
    margin: 0;
    margin-left: 0;
    margin-bottom: 0;
    background-color: rgb(32, 29, 26);
    left: 15px;
    bottom: 15px;
    max-width: 20%;
    min-width: 15%;
    max-height: 10%;
    min-height: 40px;
    height: auto;
    width:auto;
}
#backButtonEmbeded:hover{
  background-color: rgb(65, 48, 48);
}
#backButtonText {
  font-size: 4vh;
}
.arrowIcon{
    height: 8.5vh;
    padding: 17px;

    cursor: pointer;
}

.mirrored{
    transform: scaleX(-1);
}

.taskSpan {
    display: flex;
    width: 5vw;
    text-align: center;
    justify-content: center;
    height: 8vh;
    border:5px solid rgba(72, 75, 86, 0.81);
    border-radius: 8px;
    background-color: rgba(75, 73, 73, 0.332);
    align-items: center;
}