.player{
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: flex-start;
    width: 25vw;
    height: 10vh;
    padding: 10px;
    background-color: rgb(21, 20, 20);
    border-radius: 12px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: 3px solid rgb(51, 38, 38);
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

h2 {
    color: rgb(235, 223, 223);
    font-size: 15vh;
}

.playerIconDiv{
    height: 100%;
    flex-shrink: 0;
    margin-top: 5px;
    margin-left: 10px;
}

.playerTextDiv{
    text-align: center;
    flex-grow: 1;
}

#playerCount{
    margin-left: 20px;
    flex-shrink: 0;
}
#emergencyButton{
    position: fixed;
    text-align: center;
    right: 5vw;
    top: 10vh;
    width: 90vw;
    height: 85vh;
    align-items: center;
    border: 3px solid rgb(51, 38, 38);
    border-radius: 12px;
}
#emergencyButton img{
    max-width: 90%;
    max-height: 90%;
    cursor: pointer;
}
.toAnimete{
    animation-duration: 5;
    animation-name: sizeable;
}
@keyframes sizeable{
    from{scale: 0%;}
    75%{scale: 100%;}
}